<!-- 
     <nav class="navbar navbar-expand-lg navbar-white navbar-light"  style="background-color: #292A2C;">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <a class="navbar-brand" href="">
             <img src="../../../assets/logo2.png" width="105" height="52" alt="logo">
          
          </a>
    <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user;else login">
      
      <li class="nav-item dropdown" *ngIf="user$">
       <a class="nav-link" data-toggle="dropdown">
          <div class="avatar avatar-xs"  *ngIf="user?.photoURL">
            <img id="user" class="avatar-img rounded-circle" src="{{user?.photoURL}}">
          </div>
          <div class="avatar avatar-xs" *ngIf="!user?.photoURL">
            <img id="user" class="avatar-img rounded-circle" src="../../../assets/3-thumb.png">
          </div>
        </a> 
               
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-footer"(click)="cerrar()">Cerrar Sesion</a>
        </div>
      </li>
    </ul>
<ng-template #login>
  <ul class="nav nav-tabs ml-auto ">
  <li class="nav-item d-none d-sm-inline-block" >
    <a routerLink="/login" class="nav-link active">Iniciar Sesion</a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a routerLink="/register" class="nav-link active">Registrarse</a>
  </li>
</ul>
</ng-template>
</div>
    </nav> -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">

      <a class="navbar-brand" href="">
        <img src="../../../assets/logo1.png" width="130" alt="logo">

      </a>
    </div>
    <p *ngIf="!hayUsuario ">Inicie Sesión para comenzar</p>

    <ul class="list-unstyled components" *ngIf="hayUsuario && iniciarSesion_var">
   
      <p>Bienvenido</p>
      <li *ngIf="esSuperAdmin || esAdministrativo">
        <a class="nav-link active" id="altaPaciente" role="button" (click)=altaDeConsulta() >
          <div class="icon"><img src="../../../assets/altaPaciente.png" alt="Registra el paciente"></div>
          <div class="title"><span>Registrar Paciente</span></div>
      </a>
      </li>

      <li *ngIf="esSuperAdmin || esMedico">
        <a class="nav-link active" id="altaTratamiento" role="button" (click)=altaDeTratamiento() >
          <div class="icon"><img src="../../../assets/altaTratamiento.jpg" alt="Registra el tratamiento"></div>
          <div class="title"><span>Registrar Tratamiento</span></div>
      </a>
      </li>
      <li *ngIf="esSuperAdmin || esMedico">
        <a class="nav-link active" id="consultaMedicaciones" role="button" (click)=consultaDeMedicacion()>
          <div class="icon"><img src="../../../assets/consultaMed2.jpg" alt="Consulta la medicacion"></div>
          <div class="title"><span>Consultar Medicaciones</span></div>
      </a>
      </li>
      <li *ngIf="esSuperAdmin || esMedico">
        <a class="nav-link active" id="consultaTratamiento" role="button" (click)=consultaDeTratamiento() > <!--width="30" height="52"-->
          <div class="icon"><img src="../../../assets/consultaTratamiento2.jpg" alt="Consulta de un tratamiento"></div>
          <div class="title"><span>Consultar Tratamiento</span></div>
      </a>
      </li>
    </ul>



  </nav>
  
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-white navbar-light" style="background-color: #c1c1c1;">
      <div class="container-fluid">
      
        <button class="btn btn-primary d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify "></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user;else login">

            <li class="nav-item dropdown" *ngIf="user$">
              <a class="nav-link" data-toggle="dropdown">
                <div class="avatar avatar-xs" *ngIf="user?.photoURL">
                  <img id="user" class="avatar-img rounded-circle" src="{{user?.photoURL}}">
                </div>
                <div class="avatar avatar-xs" *ngIf="!user?.photoURL">
                  <img id="user" class="avatar-img rounded-circle" src="../../../assets/3-thumb.png">
                </div>
              </a>

              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-footer" (click)="cerrar()">Cerrar Sesion</a>
              </div>
            </li>
          </ul>
          <ng-template #login>
            <ul class="nav nav-tabs ml-auto ">
              <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link active" id="login" role="button" (click)=iniciarSesion()>Iniciar Sesion</a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link active" role="button" (click)=registro()>Registrarse</a>
              </li>
            </ul>
          </ng-template>
        </div>

      </div>
   
    </nav>
       <app-login2 *ngIf="!hayUsuario && iniciarSesion_var" (selected)="visualizar($event)"> </app-login2>
      <app-registro  *ngIf="!hayUsuario && registro_var" (selected)="visualizar($event)"></app-registro>
      <app-medicacion  *ngIf="iniciarSesion_var && (esSuperAdmin || esMedico) && consultarMedicacion && hayUsuario" (selected)="visualizar($event)"></app-medicacion>
      <app-consulta-tratamiento  *ngIf="iniciarSesion_var && (esSuperAdmin || esMedico) && consultarTratamiento && hayUsuario" (selected)="visualizar($event)"></app-consulta-tratamiento>
      <app-alta-tratamiento  *ngIf="iniciarSesion_var && (esSuperAdmin || esMedico) && altaTratamiento && hayUsuario" (selected)="visualizar($event)"></app-alta-tratamiento>
      <app-consulta  *ngIf="iniciarSesion_var && (esSuperAdmin || esAdministrativo) && altaConsulta && hayUsuario" (selected)="visualizar($event)"></app-consulta>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
  //# sourceURL=pen.js
      </script>
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>