    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <div class="container-fluid">
         
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="alta-consulta">Alta consulta - Alta paciente hc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="alta-tratamiento">Alta tratamiento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="consultaMedicaciones">Consulta de medicaciones preescriptas por un medico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Consulta de tratamientos y diagnostico definitivo para una afección</a>
              </li>
          
          
            </ul>
          </div>
        </div>
      </nav>
      <div class="container p-4">

        <router-outlet></router-outlet>

      </div>