<div class="col-lg-8 mx-auto mt-5">
  <div class="card mx-auto">
    <div class="card-header">
      <div class="alert alert-info" name="titulo-transaccion" role="alert">
        Consulta de medicaciones prescriptas por un médico en un rango de fecha
      </div>
    </div>

    <div>
      <form>
        <app-formacion-profesional #formProf></app-formacion-profesional>

        <div class="form-row">
          <div class="input-group col-md-12 mt-3" *ngIf="formProf.formacionProfesional.length">
            <div class="input-group-prepend">
              <span class="input-group-text">Fecha Desde</span>
            </div>
            <label class="sr-only" for="fechaDesde">fechaDesde</label>
            <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" name="fechaDesde"
              [(ngModel)]="fechaDesde" />
            <label class="sr-only" for="fechaHasta">fechaHasta</label>
            <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" name="fechaHasta"
              [(ngModel)]="fechaHasta" />
            <button class="btn btn-secondary" type="button" id="buscarConsultas"
              (click)="buscarConsultas(formProf.idMedico, fechaDesde, fechaHasta)">
              Buscar
            </button>
          </div>
        </div>


        <div class="form-row">
          <div class="col-md-12 mt-3"
            *ngIf='formProf.formacionProfesional.length && !tratamientosMedico.length && mostrarErrorTratamientosMedico '>
            <div class="alert alert-danger" role="alert">
              No hay tratamientos en ese rango - Buscar nuevamente
            </div>
          </div>
        </div>



        <div class="table-responsive">

          <table class="table table-hover" *ngIf="
              formProf.formacionProfesional.length &&
              tratamientosMedico.length &&
              !mostrarErrorTratamientosMedico
            ">

            <thead class="black white-text">
              <tr>
                <td colspan="5">
                  <span class="input-group-text">TRATAMIENTOS</span>
                </td>
              </tr>
              <tr>
                <th *ngFor="let head of headElements" scope="col">
                  {{ head }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let el of tratamientosMedico; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ el.fecha | date: "dd/mm/yyyy" }}</td>
                <td>{{ el.tipo }}</td>
                <td>{{ el.descripcion }}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal"
                    data-target="#exampleModal" id="{{i}}" (click)="mostrarMedicacion(el)" data-whatever="@mdo">
                    Ver
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true" *ngIf="verMedicaciones">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Medicaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="table-responsive">
                  <table class="table">
                    <thead class="black white-text">
                      <tr>
                        <th *ngFor="let head1 of headMedicaciones" scope="col">
                          {{ head1 }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let med of medicaciones; let i = index">
                        <th scope="row">{{ i }}</th>
                        <td>{{ med.dosis }}</td>
                        <td>{{ med.nombre }}</td>
                        <td>{{ med.proposito }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-dark" (click)="mandarMail()">Notificar consulta</button>
                <button class="btn btn-outline-dark" (click)="mandarFarmaciaTurno()">Farmacia de turno</button>
                <button class="btn btn-outline-dark" (click)="mandarEncargado()">Encargado de la guardia</button>
                <div class="input-group col-md-12" style="height: 50px;" *ngIf='mostrarMensaje'>
                  <div class="input-group-prepend has-success">
                    <span class="input-group-text">Nombre del encargado</span>
                  </div>
                  <input type="text" class="form-control" name="msg" [(ngModel)]="msg" id="msg" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>




      </form>
    </div>
  </div>
</div>
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recipient = button.data('whatever')
    var modal = $(this)
    modal.find('.modal-body input').val(recipient)
  })
</script>