<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side menu</title>
    <link rel="stylesheet" href="sidemenu.css">
</head> -->


    
        <!--HEADER-->
    
        <!--PROFILE-->
        <!-- <div id="profile">
            <div id="photo"><img src="../../../assets/profile.png"alt="foto user"></div>
            <div id="name"><span>¡Bienvenido a sus operaciones!</span></div>
        </div> -->
        <div>
            <!-- <div id="title"><span>Operaciones</span></div>-->
             <div id="menu-btn">
                 <div class="btn-hamburger"></div>
                 <div class="btn-hamburger"></div>
                 <div class="btn-hamburger"></div>
             </div>
 
         </div>
        <!--ITEMS-->
        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../../assets/altaPaciente.png" alt=""></div>
                    <div class="title"><span>Registrar Paciente</span></div>
                </a>
            </div>

           <!-- <div class="item separator"></div>-->

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../../assets/altaTratamiento2.jpg" alt=""></div>
                    <div class="title"><span>Registrar Tratamiento</span></div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../../assets/consultaMed2.jpg" alt=""></div>
                    <div class="title"><span>Consultar Medicaciones</span></div>
                </a>
            </div>
            <div class="item">
                <a href="#"> <!--width="30" height="52"-->
                    <div class="icon"><img src="../../../assets/consultaTratamiento2.jpg" alt=""></div>
                    <div class="title"><span>Consultar Tratamiento</span></div>
                </a>
            </div>
        </div>

     



        
       

    <script>const btn=document.querySelector('#menu-btn');
        const menu=document.querySelector('#sidemenu');
        btn.addEventListener('click',e=>{
            menu.classList.toggle("menu-expanded");
            menu.classList.toggle("menu-collapsed");
            document.querySelector('#body').classList.toggle('body-expanded');
        });
    </script>


<!-- 
</html>
 -->
