<h1>Alta Tratamiento</h1>

<div class="col-lg-12 mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="alert alert-info" name="titulo-transaccion" role="alert">
        Complete el siguiente formulario para poder dar de alta un tratamiento
      </div>
    </div>

    <!--///////////////////////////////////////////////// BUSCO MEDICO /////////////////////////////////////////////////-->
    <div class="card-body">
        <div class="form-group">
         <!-- <app-formacion-profesional #formProf></app-formacion-profesional>-->

          <div class="input-group col-md-12" >
            <div class="input-group-prepend">
              <span class="input-group-text">Ingrese datos del Profesional</span>
            </div>
            <input type="text" class="form-control" name="matricula" [(ngModel)]="matricula" id="matricula" placeholder="Ingrese Nro. matricula">
            <input type="text" class="form-control"  name="tipoMatricula" [(ngModel)]="tipoMatricula" id="tipoMatricula" placeholder="Ingrese Tipo. matricula">
            <button class="btn btn-outline-secondary" type="button" id="buscarProfesional" (click)="buscarProfesional(tipoMatricula,matricula)">Buscar</button>
          </div>
        
          <div class="col-12" style="height: 50px;" *ngIf='mostrarErrorFP '>
            <div class="alert alert-danger" role="alert"  >
              No existe esa formación profesional
            </div>
          </div>
         
        
          <div class="col" style="height: 50px;"*ngIf='formacionProfesionalBusqueda.length && !mostrarErrorFP '>
            <div class="alert alert-success" role="alert">
             Formación profesional encontrada</div>
          </div>
        
          <div class="col-12" style="height: 50px;" *ngIf='formacionProfesionalBusqueda.length && !mostrarErrorFP && mostrarErrorMedico'>
            <div class="alert alert-danger" role="alert" >
            No hay medico con esa formación profesional</div>
          </div>
        
          <div class="input-group col-md-12" *ngIf="formacionProfesionalBusqueda.length && !mostrarErrorFP && !mostrarErrorMedico">
            <div class="input-group-prepend has-success">
              <span class="input-group-text">Datos del Profesional</span>
            </div>
            <input type="text" class="form-control" name="nombreMedico" [(ngModel)]="nombreMedico"  disabled>
          </div>
        




         <!-- <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="nombreMedico"
                name="nombreMedico"
                placeholder="nombreMedico"
              />-->
        </div>

        <!--///////////////////////////////////////////////// BUSCO PACIENTE /////////////////////////////////////////////////-->
        <div class="form-group">
          <form #formularioPaciente="ngForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="paciente.tipodni"
                name="paciente.tipodni"
                placeholder="Ingrese el tipo de documento del paciente"
              />
              <!--TODO: Paciente tipo dni: {{ paciente.tipodni }}-->
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="paciente.nrodocumento"
                name="paciente.nrodocumento"
                placeholder="Ingrese el n° de documento del paciente"
              />
              <!--TODO: paciente nro dni: {{ paciente.nrodocumento }}-->
            </div>

            <button
              type="button"
              class="btn btn-info"
              (click)="getPaciente(paciente.nrodocumento, paciente.tipodni)"
            >
              <!-- (click)="getPaciente(paciente.tipodni,paciente.nrodocumento.value)" getPaciente() -->
              Buscar paciente
            </button>

            <div class="form-group">
              <div class="col" style="height: 20px" *ngIf="encontroPaciente">
                <div class="alert alert-success" role="alert">
                  Paciente encontrado
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--///////////////////////////////////////////////// BUSCO AFECCION /////////////////////////////////////////////////-->

        <!--////////////////////////////////// SELECCIONO LA AFECCION //////////////////////////////////-->
        <div class="btn-group">
          <!--////////////////////////// SELECCIONO EL TIPO DE DIAGNOSTICO //////////////////////////-->
        </div>

        <div class="input-group-prepend">
          <button
            type="button"
            class="btn btn-primary"
            (click)="getAfecciones()"
          >
            Buscar afeccion para tratar
          </button>
          <button
            type="button"
            class="btn btn-light"
            *ngIf="hayAfeccion"
            (click)="buscarDiagnosticoOn()"
          >
            <!--(click)="buscarDiagnosticoOn()-->
            <div class="card" style="width: 18rem">
              <div class="card-header">
                <input
                  type="text"
                  class="form-control"
                  name="nomUnaAfeccion"
                  [(ngModel)]="nomUnaAfeccion"
                  id="nomUnaAfeccion"
                  disabled
                />
              </div>
            </div>
          </button>
        </div>

        <div class="btn-group" dropdown></div>

        <!--////////////////////////////////// SELECCIONO DIAGNOSTICO ////////////////////////////////// (click)="obtenerDiagnostico()" -->
        <div class="form-group">
          <div class="list-group">
            <div class="input-group-prepend" *ngIf="buscarDiagnostico">
              <button
                type="button"
                class="btn btn-primary"
                (click)="obtenerDiagnostico()"
              >
                Obtener diagnostico definitivo para esa afeccion
              </button>
              <button type="button" class="btn btn-light" *ngIf="hayAfeccion">
                <!--(click)="abtenerDiagnostico()">-->
                <div class="card" style="width: 32rem">
                  <div class="card-header">
                    <input
                      type="text"
                      class="form-control"
                      name="diagnostico"
                      [(ngModel)]="diagnostico"
                      disabled
                    />
                  </div>
                </div>
              </button>
            </div>
            <!-- <a href="#" class="list-group-item list-group-item-action active">
            Diagnóstico definitivo
          </a>
          <a href="#" class="list-group-item list-group-item-action"
            >Diagnóstico definitivo 1</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Diagnóstico definitivo 2</a
          >-->
          </div>
        </div>
        <!--////////////////////////////////// INGRESO LA MEDICACION //////////////////////////////////-->

        <div class="form-group" *ngIf="hayDiagnostico">
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="medicacion.nombre"
            name="medicacion.nombre"
            placeholder="Ingrese el nombre de la medicación "
          />
          <!--(click)="verificarMedicacion()"-->
          <button
            type="button"
            class="btn btn-primary"
            (click)="verificarMedicacion(medicacion.nombre)"
          >
            Verificar la existencia de la medicacion
          </button>
          <!--TODO: nombre de la medicación : {{tratamiento.medicacion }}-->
        </div>

        <div class="form-group" *ngIf="hayDiagnostico && medicacionValida">
          <div class="input-group col-md-42">
            <div class="input-group-prepend">
              <span class="input-group-text"
                >Seleccione el tipo de tratamiento</span
              >
            </div>

            <button
              type="button"
              class="btn btn-primary"
              (click)="seleccionaTipo('Psiquiatrico')"
            >
              Psiquiatrico
            </button>

            <button
              type="button"
              class="btn btn-primary"
              (click)="seleccionaTipo('Farmacologico')"
            >
              Farmacologico
            </button>
          </div>
          <!--TODO: tipo de tratamiento: {{tratamiento.tipo }}-->
        </div>

        <div
          class="form-group"
          *ngIf="hayDiagnostico && medicacionValida && tipoSeleccionado"
        >
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="tratamiento.descripcion"
            name="tratamiento.descripcion"
            placeholder="Ingrese la descripción del tratamiento"
           
          />
          <button
          type="button"
          class="btn btn-primary"
          (click)="descripcionTratamiento(tratamiento.descripcion)"
        >
          Confirmar descripcion
        </button>
          <!--TODO: descripción del tratamiento : {{tratamiento.descripcion }}-->
        </div>

        <div
          class="form-group"
          *ngIf="hayDiagnostico && medicacionValida && tipoSeleccionado"
        >
          <input
            type="text"
            class="form-control"
            required
            [(ngModel)]="tratamiento.duracion_en_dias"
            name="tratamiento.duracion_en_dias"
            placeholder="Ingrese la cantidad de días que durará el tratamiento"
          />
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="diasTratamiento(tratamiento.duracion_en_dias)"
        >
          Confirmar cantidad de días
        </button>



        <!--TODO: descripción del tratamiento : {{tratamiento.duracion_en_dias}} *ngIf="centroSaludSelec && formProf.formacionProfesional.length"-->
        <div
          class="form-group"
          *ngIf="hayDiagnostico && medicacionValida && tipoSeleccionado"
        >
          <div class="input-group col-md-12">
            <span class="input-group-text"
              >Ingrese Fecha y Hora del inicio del tratamiento</span
            >
            <input
              type="datetime-local"
              class="form-control"
              name="fecha"
              min="2014-01-01"
              max="2030-12-31"
              [(ngModel)]="tratamiento.fecha"
              name="tratamiento.fecha"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="dateTratamiento(tratamiento.fecha)"
            >
              Seleccionar
            </button>
          </div>

          <!--ACA NO SE SI IRIA CON EL RESTO DE LOS DATOS PARA DAR DE ALTA O NO click)="buscarConsultasMedico()" [(ngModel)]="fechaDesdeMedico"-->
        </div>

        <!--///////////////////       finalmente: DAR DE ALTA EL TRATAMIENTO        ///////////////////-->

        <button
          class="btn btn-success"
          (click)="guardarTratamiento()"
          *ngIf="hayDiagnostico && medicacionValida && tipoSeleccionado && descripcionLista && hayCantDias && hayFecha"
        >
          Guardar tratamieno
        </button>

        <div class="form-group">
          <div class="card" *ngIf="altaTratamientoExitosa">
            <div class="card-header" *ngIf="altaTratamientoExitosa">
              <div class="alert alert-success" role="alert">
                Tratamiento guardado!
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <!-- </form>-->
  </div>
</div>

<!---->
<!---->
<!---->
<!---->
<!--///////////////////////////////////////////////// FIN ALTA TRATAMIENTO /////////////////////////////////////////////////-->

<!--      ****************************************       CAMBIO DE TRANSACCION      ****************************************     -->
<!--//////////////////////////////////////////// COMIENZO CONSULTA TRATAMIENTO /////////////////////////////////////////////-->
<!---->
<!---->
<!---->

<h1>Consulta Tratamiento Component!!</h1>

<div class="col-lg-12 mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="alert alert-info" role="alert">
        Consulta de un tratamiento para una afección
      </div>
    </div>

    <form>
      <div class="card-body">
        <!--<form (submit)="uploadPhoto(title, description)">-->
        <div class="form-group">
          <form #formularioPacienteBis="ngForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="pacienteConsulta.tipodni"
                required
                [(ngModel)]="pacienteConsulta.tipodni"
                name="pacienteConsulta.tipodni"
                placeholder="Ingrese el tipo de documento del paciente"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="pacienteConsulta.nrodocumento"
                required
                [(ngModel)]="pacienteConsulta.nrodocumento"
                name="pacienteConsulta.nrodocumento"
                placeholder="Ingrese el n° de documento del paciente"
              />
            </div>

            <!-- (click)="getPaciente(paciente.tipodni,paciente.nrodocumento.value)" getPaciente() -->

            <button
              type="button"
              class="btn btn-info"
              (click)="getPacienteConsulta(pacienteConsulta.nrodocumento, pacienteConsulta.tipodni)"
            >
              <!-- (click)="getPaciente(paciente.tipodni,paciente.nrodocumento.value)" getPaciente() -->
              Buscar paciente
            </button>

            <div class="form-group">
              <div class="card" *ngIf="encontroPacienteConsulta">
                <div class="card-header" *ngIf="encontroPacienteConsulta">
                  <div class="alert alert-success" role="alert">
                    Paciente encontrado!
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

       



        <div class="input-group-prepend">
          <button
              type="button"
              class="btn btn-primary"
              (click)="getAfeccionesConsulta()"
            >
              Seleccione afeccion para consultar tratamiento
            </button>
          <button
            type="button"
            class="btn btn-light"
            *ngIf="hayAfeccionConsulta"
            (click)="obtenerDiagnosticoConsulta()"
          >
            <!--(click)="buscarDiagnosticoOn()-->
            <div class="card" style="width: 18rem">
              <div class="card-header">
                <input
                  type="text"
                  class="form-control"
                  name="nomUnaAfeccionConsulta"
                  [(ngModel)]="nomUnaAfeccionConsulta"
                  id="nomUnaAfeccionConsulta"
                  disabled
                />
              </div>
            </div>
          </button>
        </div>




        
        <div class="form-group" *ngIf="hayAfeccionConsulta && hayDiagnosticoConsulta">
        <div class="form-group">
          <button class="btn btn-success" (click)="obtenerDatosTratamiento()">Consultar Tratamiento</button>
        </div>
        <table class="table table-bordered" *ngIf="consultaTratamientoOn">
          <thead>
            <tr>
              <th>Datos del Tratamiento</th>
            </tr>
          </thead>
          <tbody>
            <!--<td>
              <p>Psiquiatrico</p>
              <p>
                Desde que sufre el ataque de ansiedad por 7 días más y si no se
                nota cambios, realizar una nueva consulta
              </p>
            </td>
            <!--<td><p>sintomas</p></td>
            <td><p>diagnostico</p></td>-->
            <td>
              <p><b>Descripcion: </b> {{tratamiento.descripcion}}</p>
              <p><b>Duración en días: </b>{{tratamiento.duracion_en_dias}}</p>
              <p><b>Tipo: </b>{{tratamiento.tipo}}</p>
              <p><b>Fecha: </b>{{tratamiento.fecha}}</p>
              <!--<p>tratamiento.medico</p>
              <p>tratamiento.medicacion</p>-->
            </td>
          </tbody>
        </table>
      </div>
      </div>
    </form>
  </div>
</div>