<!--      ****************************************       CAMBIO DE TRANSACCION      ****************************************     -->
<!--//////////////////////////////////////////// COMIENZO CONSULTA TRATAMIENTO /////////////////////////////////////////////-->
<!---->
<!---->
<!---->

<h1>Consulta Tratamiento Component!!</h1>

<div class="col-lg-12 mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="alert alert-info" role="alert">
        Consulta de un tratamiento para una afección
      </div>
    </div>

    <form>
      <div class="card-body">
        <!--<form (submit)="uploadPhoto(title, description)">-->
        <div class="form-group">
          <form #formularioPacienteBis="ngForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="tipodni"
                required
                [(ngModel)]="paciente.tipodni"
                name="tipodni"
                placeholder="Ingrese el tipo de documento del paciente"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="nrodocumento"
                required
                [(ngModel)]="paciente.nrodocumento"
                name="nrodocumento"
                placeholder="Ingrese el n° de documento del paciente"
              />
            </div>

            <!-- (click)="getPaciente(paciente.tipodni,paciente.nrodocumento.value)" getPaciente() -->

            <button
              type="button"
              class="btn btn-info"
              (click)="getPaciente(paciente.nrodocumento, paciente.tipodni)"
            >
              <!-- (click)="getPaciente(paciente.tipodni,paciente.nrodocumento.value)" getPaciente() -->
              Buscar paciente
            </button>

            <div class="form-group">
              <div class="card" *ngIf="encontroPaciente">
                <div class="card-header" *ngIf="encontroPaciente">
                  <div class="alert alert-success" role="alert">
                    Paciente encontrado!
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="form-group">
          <div class="input-group-prepend">
            <button
              type="button"
              class="btn btn-primary"
              (click)="getAfecciones()"
            >
              Buscar afeccion para tratar
            </button>
            <button type="button" class="btn btn-light" *ngIf="hayAfeccion">
              <div class="card" style="width: 18rem">
                <div class="card-header">Ansiedad</div>
              </div>
            </button>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success">Consultar Tratamiento</button>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tratamiento</th>
            </tr>
          </thead>
          <tbody>
            <td>
              <p>Psiquiatrico</p>
              <p>
                Desde que sufre el ataque de ansiedad por 7 días más y si no se
                nota cambios, realizar una nueva consulta
              </p>
            </td>
            <!--<td><p>sintomas</p></td>
            <td><p>diagnostico</p></td>
            <td>
              <p>tratamiento.duracion</p>
              <p>tratamiento.duracion</p>
              <p>tratamiento.tipo</p>
              <p>tratamiento.fecha</p>
              <p>tratamiento.medico</p>
              <p>tratamiento.medicacion</p>
            </td>-->
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>